
SistemaBarbearia_PI/SistemaBarbearia_PI/obj/Debug/net6.0-windows/SistemaBarbearia_PI.GeneratedMSBuildEditorConfig.editorconfig
SistemaBarbearia_PI/SistemaBarbearia_PI/obj/Release/net6.0-windows/SistemaBarbearia_PI.GeneratedMSBuildEditorConfig.editorconfig
